html {
  scroll-behavior: smooth;
}
*, *:before, *:after {
}
body {
  color: #222;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  line-height: 1.7;
  background-color: #fff;
}
html, body {
  margin: 0;
}
/* Grid */
header, main, footer {
}
header {
  background-color: #481380;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
}
