body {
  margin: 0;
  color: #222;
  font-family: 'Lato', sans-serif;
  font-size: 1.125rem;
  line-height: 1.7;
}
/* Typo */
h1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin: .67em 0;
  line-height: 1.166666667;
}
/* Grid */
header {
  background: #3e206d;
  color: #f1f1f6;
}
main {

}
footer {

}
/* Layout */
/* Media Queries http://devfacts.com/media-queries-breakpoints-2020/ */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) {
  main {
    background-color: yellow;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  main {
    background-color: green;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  main {
    background-color: red;
  }
}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  main {
    background-color: brown;
  }
}
/* External */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
