<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>App Shell</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/app-shell.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='js/manifest.json') }}">
  </head>
  <body>
    <header>
      <app-title title="Super List"></app-title>
    </header>
    <main>
      <div id="mount-app-list">
        <app-list userid=""></app-list>
      </div>
      <div id="mount-app-snackbar">
        <app-snackbar message="I am a snackbar"></app-snackbar>
      </div>
      <div id="mount-app-dialog">
        <app-dialog listid=""></app-dialog>
      </div>
    </main>
    <footer>
      <app-form userid="" name=""></app-form>
    </footer>
    <script src="{{ url_for('static', filename='js/main.bundle.js') }}"></script>
  </body>
</html>
