<!doctype HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>App Shell</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  </head>
  <body>
    <header>
      <h1>Weekend Beer List</h1>
    </header>
    <main id="mount">
      Hello Kitty
    </main>
    <footer>
      <form action="" method="post" id="list_form">
        <input type="hidden" name="user_id" value="">
        <label>
          <input type="text" name="list_name" value="">
          <button type="submit">Save</button>
        </label>
      </form>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
      const userId = localStorage.getItem('_u')
      let foo = document.querySelector('#list_form')
      foo.addEventListener('submit', (event) => {
        event.preventDefault();
        fetch('/service/'+ userId +'/lists/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({'list_name': event.target.list_name.value})
        })
          .then((response) => response.json)
          .then((json) => console.log(json))
      })
      const mount = document.querySelector('#mount')

      const fetchList = (userId) => {
        fetch('/service/'+ userId +'/lists/')
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => console.log(error))
      }
      const renderList = (elm, list) => {
        
      }
      fetchList(userId)
    </script>
  </body>
</html>
