<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>App Shell</title>
  <link rel="manifest" href="/manifest.json">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<body>
  <header class="header">
    <h1 class="header__title">App Shell</h1>
  </header>

  <nav class="nav">
    <ul>
      <li><a href="/my-list.html">Sign Up/Sign In</a></li>
    </ul>
  </nav>

  <main class="main">
    Main
  </main>

  <div class="dialog-container">
   Dialog
  </div>

  <div class="loader">
  </div>

  <script src="/js/main.bundle.js" async></script>
  <script>
  if ('serviceWorker' in navigator) {
    
  }
  </script>
</body>
</html>
