<div id="container">
  <header class="header">
    <a href="/app.html" class="header_nav">
      <i class="material-icons">keyboard_arrow_left</i>
    </a>
    <span class="header_title">Weekend Beer List</span>
  </header>

  <main class="main">
    <div id="my__list">
      <form action="" class="user_list__form">
				<span class="user_list__form_name">
          <input type="text" name="name" value="" placeholder="Name">
        </span>
        <span class="user_list__form_action">
				  <button type="submit">Save</button>
        </span>
			</form>
    </div>
  </main>

  <div class="dialog_container" id="dialog__container">
  	<div id="" class="user_list_share">
      <ul>
        <li>Avatar, Date for sharing, revoke-button</li>
      </ul>
      <form action="" class="user_list__form_item">
        <input type="email" name="email" value="" placeholder="Email" />
        <button type="submit">Save</button>
      </form>
    </div>
  </div>

  <div class="loader"></div>

  <script data-script>
    ((win, doc, undef) => {
      // showDialog('#dialog__container', 'Hello Kitty', (e) => hideDialog('#dialog__container'))
      // Fetch data from the backend and render it as a list
      let mock = {
        items: [
          { name: "Nøgne Ø Stout", key: "123" },
          {
            name: "Straffe Hendrik Brugs Tripel Bier Wild",
            key: "345"
          },
          { name: "Galaxy", key: "678" }
        ],
        message: "All Good"
      };
      // FIXME: If we run fetch_list multiple times the list will be dublicated
      let container = doc.querySelector("#my__list"),
        list = doc.createElement("ul");
      	list.classList.add("user_list");
      container.prepend(list);
      // Update item in list
      pubSub.subscribe("fetch_list", () => {
        let list = container.firstChild;

        fakeFetch(mock).then(data => {
          for (let i in data.items) {
            let item = document.createElement("li");
            item.setAttribute("data-key", data.items[i].key);
            item.classList.add("user_list__item");
            item.innerHTML = `<span class="list_item__primary_content">
                                  ${data.items[i].name}
                                </span>`;
            list.append(item);
          }
        }).then(() => {
					let items = container.querySelectorAll('[data-key]')
					// TODO: Add event listener to each item
				});
      });
      // Publish page init
      pubSub.publish("fetch_list");
    })(window, document);
  </script>
</div>
